.settings/                                                                                                                                                                                               # Colorize: green
.buildpath                                                                                                                                                                                               # Colorize: green
.project                                                                                                                                                                                                 # Colorize: green
